body {
  background-color: #CACFD6;
  margin: 0;
  padding: 0;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  .book-name {
    color: black;
    text-decoration: none;
    transition: 0.3s;

  }

.book-name:hover {
  background-color: grey;
  color: brown;
  animation-duration: 1s;
}

#index-title {
  margin-top: 48px;
}

#btn-pw-res {
  border: 2px solid black;
}

#btn-pw-res:hover {
  background-color: black;
  color: aliceblue;
  transition: 0.4s;
}

#form-pw-res {
  margin-top: 1vh;
}

#login, #logout {
  color: whitesmoke;
  text-decoration: none;
  opacity: 60%;
}

#login:hover, #logout:hover {
  color: white;
  opacity: 100%;
}

